  a\#*
**/*.db
*~
.#*
*.tmproj
.DS_Store
.dotest
.idea
.loadpath
.project
config/database.yml
config/ey-cloud.yml
config/memcached.yml
db/*.sqlite3*
db/schema.rb
db/xapiandb
doc/**/*
log/*
tmp/*
TAGS
nbproject
public/assets
public/javascripts
public/stylesheets
public/images
public/pets
public/people
public/pwb
public/nwb
public/ckeditor
config/s3.yml
public/MailFaxOrder.pdf
public/__utm.gif
public/google84592614d8899e68.html
db/xapiandb/

# compiled less
vendor/extensions/theme_nwb/app/stylesheets/*.css

# from capistrano
mkmf.log

vendor/extensions/importer/data/*

# soft link
vendor/extensions/theme_nwb/public/pets

