a\#*
**/*.db
*~
.#*
.DS_Store
.dotest
.idea
.loadpath
.project
config/database.yml
db/*.sqlite3*
db/schema.rb
doc/**/*
log/*
tmp/*
TAGS
nbproject
public/assets
public/javascripts
public/stylesheets
public/images
public/pets
public/people
public/pwb
public/nwb
config/s3.yml

# from capistrano
mkmf.log



