a\#*
**/*.db
*~
.#*
.DS_Store
.dotest
.idea
.loadpath
.project
config/database.yml
db/*.sqlite3*
db/schema.rb
doc/**/*
log/*
tmp/*
TAGS
nbproject
public/assets
public/javascripts/taxonomy.js
public/javascripts/dashboard.js
public/javascripts/gateway.js
public/javascripts/jqPlot/
public/stylesheets/admin/dashboard.css
public/pets
public/people
config/s3.yml

# from capistrano
mkmf.log



