[submodule "vendor/spree"]
  path = vendor/spree
  url = git://github.com/railsdog/spree.git
[submodule "vendor/extensions/volume_pricing"]
  path = vendor/extensions/volume_pricing
  url = git://github.com/railsdog/spree-volume-pricing.git
[submodule "vendor/extensions/advanced_taxon"]
  path = vendor/extensions/advanced_taxon
  url = git://github.com/romul/spree-advanced-taxon.git
[submodule "vendor/extensions/product_assembly"]
  path = vendor/extensions/product_assembly
  url = git://github.com/BDQ/spree-product-assembly.git
[submodule "vendor/extensions/ckeditor"]
  path = vendor/extensions/ckeditor
  url = git://github.com/BDQ/spree-ckeditor.git
[submodule "vendor/extensions/static_content"]
  path = vendor/extensions/static_content
  url = git://github.com/PeterBerkenbosch/spree-static-content.git
[submodule "vendor/extensions/xapit_search"]
  path = vendor/extensions/xapit_search
  url = git://github.com/romul/spree-xapit-search.git
[submodule "vendor/extensions/order_comments"]
  path = vendor/extensions/order_comments
  url = git://github.com/BDQ/spree-order-comments.git
[submodule "vendor/extensions/snippets"]
	path = vendor/extensions/snippets
	url = git://github.com/BDQ/spree-snippets.git
[submodule "vendor/extensions/active_shipping"]
	path = vendor/extensions/active_shipping
	url = git://github.com/railsdog/spree-active-shipping.git
[submodule "vendor/extensions/paypal_express"]
	path = vendor/extensions/paypal_express
	url = git://github.com/railsdog/spree-paypal-express.git
